body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

.navbar-container {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li div {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li div:hover {
    background-color: #fff;
    color:#333;
    cursor: pointer;
  }
}


.movie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.movie-card {
  width: 400px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.movie-poster {
  width: 100%;
  height: auto;
}

.movie-details {
  padding: 10px;
}

.movie-title {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
}

.movie-synopsis {
  margin: 0;
  font-size: 14px;
}

.loginForm {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.inputContainer {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.inputField {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}